@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body{
    background: rgb(213,224,224);
    background: linear-gradient(90deg, rgba(213,224,224,1) 16%, rgba(215,222,223,1) 28%, rgba(170,188,189,1) 92%);

}
.conteiner-menu{
    width: 100vw;
    height: 80px;
    padding: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}
#nome{
    position: relative;
    top: 30%;
    left: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
.menu-nav{
    height: 40px;
    width: 50vw;
    position: relative;
    margin: auto; 
}
ul{
    list-style-type: none;
    text-align: center;
    margin-top: 0px;
}
li{
    display: inline-block;
    margin-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
.img-menu{
    position: relative;
    right: -70%;
    top: -50%;
    margin-right: 30px;
}
a:link, a:visited{
    text-decoration: none;
    color: black;
}
.conteiner-conteudo{
    width: 100vw;
    height: 65vh;
    overflow-y: hidden;
}
.conteiner-cont-prin{
    width: 700px;
    position: relative;
    top: 20%;
    left: 30px;
}
.paragrafo-prin{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
}
.conteiner-img-prin{
    width: 100vw;
    height: 50vh;
}

#foto-perfil{
    left: 75%;
    top: -50%;
    position: relative;
}
.conteiner-habil{
    width: 100vw;
    height: 600px;
}
.cont-habil-conteudo{
    width: 50%;
    height: 100%;
}
.paragrafo-hab{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    position: relative;
    display: block;
    left: 30px;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: left;
    position: relative;
    left: 30px;
    text-decoration: underline;
    margin-top: 40px;
}
.logotipo{
    margin-top: 5px; 
    position: relative;
    left: 30px;  
}
.logotipo-css{
    margin-top: 5px; 
    position: relative;
    left: 30px;    
}

/* Inicio CSS SOBRE.HTML  */
.cont-sobre{
    width: 100vw;
    height: 450px;
}
.conteudo-sobre{
    width: 90vw;
}
.prgf-sobre{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-indent: 15px;
    margin-left: 15px;
    margin-top: 10px;
    text-align: justify;
}